*{
    margin: 0; padding: 0;
    box-sizing: border-box; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
.clinic-name{
    width: 100%;
    height: 70px;
    background-color: rgb(14, 7, 114);
    text-align: center;
}
.clinic-name p{
    font-size: 30px;
    color: antiquewhite;
    padding-top: 16px;
    align-items: center;
}
.menu{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}
.menu nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
}
.menu nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(124, 124, 124);
    transition: 0.3s;
    font-size: 16px;
    background: whitesmoke;
}
.menu nav a:hover{
    color: rgb(14, 7, 114) !important;
    background-color: whitesmoke;
}
.menu a{
    display: block;
    width: 200px;
    height: 40px;
    background-color: rgb(14, 7, 114);
    color: aliceblue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-align: left;
    transition: 00.3s;
}
.menu a:hover{
    background-color: rgb(92, 190, 255);
    color: rgb(14, 7, 114);
}
.roundphoto{
    z-index: 4000;
    position: absolute;
}
.roundphoto img{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin: -100px 30px;
}
.slideshow-container{
    height: 350px;
    width: 100%;
    background-color: bisque;
    position: relative;
    margin: auto;
}
.mySlides{
    display: none;
}
.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius:3px 0 0 3px ;
}
.prev:hover,.next :hover{
    background-color: rgba(0,0,0,0.8);
}

.fade{
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade{
    from {opacity: 0.4}
    to {opacity: 1;}
}

.treatmentsbar{
    width: 100%;
    height: 185px;
    margin-top: -18px;
    background: radial-gradient(circle at top, rgba(48,75,157,1) 0%, rgba(45,66,161,1) 15%, rgba(46,66,172,1) 39%, rgba(25,25,152,1) 69%, rgba(17,14,103,1) 100%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
}
.treatmentsbar img{
    height: 100px;
    width: auto;
}
.treatmentsbar p{
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    padding-top: 10px;
}
.treatmentsbar a{
    text-decoration: none;
}
